<div class="container">
    <div class="header">
        Topic Title: <input [(ngModel)]="title"/>&nbsp;
        <button (click)="saveTopic()">Save</button>&nbsp;
        <button (click)="back()">Go to Dashboard</button>
    </div>
    <div class="panel">
        <div class="input-panel">
            <h4>Input: Topic Desciption</h4>
            <h6>Note: on enter, it will transform the data and gives the output</h6>
            <div contenteditable="true" class="textarea" #textarea (keyup.enter)="onEnter()">
            </div>
        </div>
        <div class="output-panel">
            <h4>Output:</h4>
            <h6>Note: onclick, the dropdown will open and on enter/esc,the dropdwon will close.</h6>
            <div id="mainContainer" >
                <div class="dropdown">
                    <div [innerHTML]="content"></div>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="javascript:void(0);" class="bg-done" (click)="onOptionClick($event, 'UNDERSTOOD')">UNDERSTOOD</a>
                        <a href="javascript:void(0);" class="bg-semi" (click)="onOptionClick($event, 'SOMEWHAT UNDERSTOOD')">SOMEWHAT UNDERSTOOD</a>
                        <a href="javascript:void(0);" class="bg-not-clear" (click)="onOptionClick($event, 'NOT CLEAR')">NOT CLEAR</a>
                        <a href="javascript:void(0);" class="bg-rubbish" (click)="onOptionClick($event, 'WHAT RUBBISH')">WHAT RUBBISH</a>
                    </div>
                </div>
        
            </div>
        </div>
    </div>
</div>