.container{
}
.header,.panel{
    display: flex;
    justify-content: center;;
}
.input-panel,.output-panel{
    margin: 0 15px;
    flex: 1;
}
.output-panel{
    font-weight: bold;
}
.hide{
    display: none;
}
.textarea,
#mainContainer{
    border: 1px solid black;
    min-height: 150px;
}

.done{
    color: green;
}
.semi{
    color: orange;
}
.not-clear{
    color: blue;
}
.rubbish{
    color: red;
}
.bg-done{
    background-color: green;
}
.bg-semi{
    background-color: orange;
}
.bg-not-clear{
    background-color: blue;
}
.bg-rubbish{
    background-color: red;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}