<div class="container">
    <div class="header-btns">
        <button (click)="add()">Add Topic</button> &nbsp;
        <button (click)="back()">Go to Home</button>
    </div>
    <div class="title">
        <h2>Topic List:</h2>
    </div>
    <div class="content">
        <ul>
            <li *ngFor="let topic of topics" (click)="onTopicClick(topic)">
                {{topic.title}} : {{topic.percentage}} 
            </li> 
        </ul>
    </div>
</div>